# Logs
logs
*.log

# Dependencies
node_modules/

# Build output
dist/
build/
out/
*.zip

# Environment variables
.env

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# Test coverage
coverage/

# Compiled binaries
*.o
*.pyc

# Miscellaneous
*.DS_Store
Thumbs.db
